<div class="tab-container">

	<div id="options-board-size" class="container-options options-board-size">
		<h5> Board Size: </h5>
		<div class="options-buttons">
			<button-board-size board-size="5"></button-board-size>
			<button-board-size board-size="9"></button-board-size>
			<button-board-size board-size="13"></button-board-size>
			<button-board-size board-size="19"></button-board-size>
		</div>
	</div>

	<div id="options-play-as" class="container-options options-board-size">
		<h5> Play As: </h5>
		<div class="options-buttons">

		</div>
	</div>

		<div id="options-difficult" class="container-options options-board-size">
		<h5> Difficult: </h5>
		<div class="options-buttons">

		</div>
	</div>

	<div id="options-white-handicap" class="container-options options-board-size">
		<h5> White Handicap: </h5>
		<div class="options-buttons">

		</div>
	</div>

	<div id="options-komi" class="container-options options-board-size">
		<h5> Komi: </h5>
		<div class="options-buttons">

		</div>
	</div>

	<button-new-game></button-new-game>
</div>


boardSize: 9,
playAs: 'black',
difficult: 1,
whiteHandicap: 0,
komi: 6.5
