<div class="timer black-turn">
	<div class="player-turn">Black's Turn</div>

	<div id="timer-head">
		<div class="timer-head-index black-section"> Black</div>
		<div class="timer-head-index white-section"> White</div>
	</div>

	<div id="timer-body">
		<div id="black-timer" class="black-section">00:00</div>
		<div id="white-timer" class="white-section">00:00</div>
	</div>

	<div id="timer-captures">
		<div class="captures-counter black-section">Captures: 0</div>
		<div class="captures-counter white-section">Captures: 0</div>
	</div>
</div>
