<div data-controller="ai-player-switch">

    <sl-radio-group label="AI player" value="on" name="b" class="switch-ai-player">
        <sl-radio-button class="ai-switch-button" value="on">ON</sl-radio-button>
        <sl-radio-button class="ai-switch-button" value="off">OFF</sl-radio-button>
    </sl-radio-group>

</div>
