<div data-controller="button-board-size">

    <sl-radio-group label="Select the size of the board" name="a" value="13">

        <sl-radio-button value="5" class="button-size">
            <button-board-size board-size="5"></button-board-size>
        </sl-radio-button>

        <sl-radio-button value="9" class="button-size">
            <button-board-size board-size="9"></button-board-size>
        </sl-radio-button>

        <sl-radio-button value="13" class="button-size">
            <button-board-size board-size="13"></button-board-size>
        </sl-radio-button>

        <sl-radio-button value="19" class="button-size">
            <button-board-size board-size="19"></button-board-size>
        </sl-radio-button>

    </sl-radio-group>
</div>
