<div lieu-menu-url="<%= asset_path('lieu_menu.css') %>"></div>

<div data-controller="lieu_menu">

    <sl-menu id="lieu-menu-container">
        <%= render "web_components/pass_button" %>
        <%= render "web_components/resign_button" %>
    </sl-menu>
</div>
