<div data-controller="pass-button">
    <sl-button variant="warning" id="button-pass" class="lieu-button" size="small" circle>
      <sl-icon name="caret-right-square-fill" label="pass move"></sl-icon>
      <pass-button></pass-button>
    </sl-button>
</div>
