<div data-controller="resign-button">
    <sl-button variant="danger" id="button-resign" class="lieu-button" size="small" circle>
      <sl-icon name="flag-fill" label="Resign"></sl-icon>
      <resign-button></resign-button>
    </sl-button>
</div>
