<main>

  <div id="lieu-buttons">
    <%= render "web_components/pass_button" %>
    <%= render "web_components/resign_button" %>
  </div>
  
  <%= render "web_components/go_board" %>

  <!-- Keep the below in order to load sl-switch-->
  <div style="display: none">
    <sl-switch>Hello</sl-switch>
  </div>

  <%= render "web_components/panel_right" %>
  
</main>