<aside id="sidebar">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</aside>


<main>
    <%= render "web_components/lieu_menu" %>
    <%= render "web_components/go_board" %>
    <%= render "web_components/panel_right" %>
</main>
