<<<<<<< HEAD
<%= render "web_components/go_board"%>
<%= render "web_components/panel_right" %>
=======
<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<%= render "web_components/go_board" %>

<sl-menu>
  <%= render "web_components/timer_tab" %>
</sl-menu>