<main>

    <%= render "web_components/lieu_menu" %>

    <%= render "web_components/go_board" %>

    <!-- Keep the below in order to load sl-switch-->
    <div style="display: none">
        <sl-switch>Hello</sl-switch>
    </div>

    <%= render "web_components/panel_right" %>
</main>
