sl-menu#lieu-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 7vw;
    margin: 10vh -2px 0 10vw;
}

sl-button {
    padding: var(--sl-spacing-x-small);
    size: var(--sl-spacing-medium);
}
