* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	color: whitesmoke; /* Testing if the CSS is loading properly */
}

sl-menu {
	margin: 2vw 5vh;
	width: 27vw;
	height: 80vh;
	font-size: 16px;
	display: flex;
	flex-direction: column;
}

sl-tab-group {
    display: flex;
}

slot.buttom__label {
    padding: 0 10px;
}

div#button-board-size,
div#switch-ai-player{
    margin-bottom: 10px;
}
