* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	color: red; /* Testing if the CSS is loading properly */ 
}

sl-menu { 
	margin: 2vw 5vh;
	width: 25vw;
	height: 55vh;
	font-size: 16px;
	display: flex;
	flex-direction: column;
}

sl-tab-group {
	min-height: 15em;
}
